<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0" metadata-complete="true">

    <display-name>homegrown</display-name>
    <context-param>
        <param-name>spring.profiles.active</param-name>
        <param-value>dev.consumer</param-value>
    </context-param>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>

    <welcome-file-list>
        <welcome-file>/index.html</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>rest</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>rest</servlet-name>
        <url-pattern>/rest/test</url-pattern>
        <url-pattern>/rest/register</url-pattern>
        <url-pattern>/rest/getUsers</url-pattern>
        <url-pattern>/rest/disableUser</url-pattern>
        <url-pattern>/rest/activateUser</url-pattern>
        <url-pattern>/rest/authenticate</url-pattern>
        <url-pattern>/rest/updateUserDetails</url-pattern>
        <url-pattern>/rest/refreshSimilarities</url-pattern>
        <url-pattern>/rest/getSimilaritiesByProducer</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>jaxws-servlet</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>jaxws-servlet</servlet-name>
        <url-pattern>/soap</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>
</web-app>
